html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
  background-color: #121A21;
  display: grid;
  grid-template: 1fr / 1fr 30rem 1fr;
  height: 100vh;
  align-items: center;
  font-family: 'Inter', sans-serif;
}
.main{
  grid-area: 1 / 2;
  display: grid;
  gap: 2rem;
  grid-template-rows: 12rem 18rem;
}
.header{
  grid-area: 1 / 1;
  display: grid;
  justify-content: center;
}
.header-container{
  margin: 0;
  display: flex;
  justify-content: center;
}
.header-container-image{
  height: 7rem;
  border-radius: 50%;
}
.header-title{
  font-size: 1.3rem;
  font-weight: 700;
  color: #FBFBFE;
  margin: 0;
  margin-top: .8rem;
  display: flex;
  justify-content: center;
}
.header-subtitle{
  font-size: 1rem;
  font-weight: 500;
  color: #a4a4a7;
  display: flex;
  justify-content: center;
}
.card-container{
  display: grid;
  grid-area: 2/1;
  gap: .8rem;
  /* border: 1px solid blue; */
}
.card{
  margin: 0;
}
.card-button{
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: #212E36;
  box-shadow: 0px 1px 5px rgba(10, 14, 17, 0.527);
  padding: .8rem;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #FBFBFE;
}
.card-button:hover{
  background-color: rgb(64, 83, 94);
  color: #F27638;
}
.social-media{
  display: flex;
  justify-content: center;
  color: rgb(64, 83, 94);
}
.social-media-link{
  margin-right: 1rem;
}
.social-media-image{
  height: 2rem;
  margin-top: 2.5rem;
  color: #a4a4a7;
}
