@media (min-width: 375px) {
  body{
    grid-template: 1fr / 1fr 32rem 1fr;
  }
  .main{
    grid-template-rows: 16rem 20rem;
  }
  .header-container-image{
    height: 10rem;
  }
  .header-title{
    font-size: 1.6rem;
  }
  .header-subtitle{
    font-size: 1.2rem;
  }
  .card-container{
    display: grid;
    grid-area: 2/1;
    gap: 1rem;
  }
  .card-button{
    padding: 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
@media (min-width: 425px) {
  body{
    grid-template: 1fr / 1fr 38rem 1fr;
  }
  .main{
    grid-template-rows: 19.5rem 22rem;
  }
  .header-container-image{
    height: 12rem;
  }
  .header-title{
    font-size: 1.9rem;
  }
  .header-subtitle{
    font-size: 1.3rem;
  }
  .header-container{
    gap: 1rem;
  }
  .card-button{
    padding: 1.3rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
}