@media (max-width: 1024px){
  .home-main-text {
    font-size: 35px;
  }
}
@media (max-width: 900px){
  .home-main-text {
    font-size: 32px;
    letter-spacing: 8px;
  }
  .blogs-main-new {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }

  .blogs-news-img-container {
    grid-row: 2;
  }

  .blogs-news-info-container {
    grid-column: 1;
    grid-row: 3;
  }
  .blogs-posts-container .post-container{
    max-width: 45%;
  }

  .projects-main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
  }

  .profile-main-container .profile-container {
    display: block;
  }
  .blogs-news-img-container img {
    width: 100%;
  }
  .profile-main-container img {
    width: 100%;
  }
}



@media (max-width: 768px) {
  .home-main-text {
    font-size: 28px;
    letter-spacing: 6px;
  }
  .blogs-posts-container .post-container{
    max-width: 95%;
  }
  .projects-main-container {
    grid-template-columns: 1fr ;
    grid-template-rows: 2fr;
  }
  .home-main-button {
    width: 180px;
    height: 40px;
  }
  
  .home-main-button a{
    font-size: 16px;
  }
  .blogpost-main-img{
    width: 100%;
    height: 250px;
  }
}


@media (max-width: 479px) {
  .home-main-text {
    font-size: 17px;
    letter-spacing: 4px;
  }
  .home-main-button {
    width: 150px;
    height: 35px;
  }
  
  .home-main-button a{
    font-size: 14px;
  }
  header .header-icons-container .icons {
  width: auto;
  height: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  margin-right: inherit;
  }
  nav .nav-logo-container{
    margin-left: 20px;
  }
  /* nav .nav-logo-container img{
    width: 200px;
    margin-top: 10px;
  } */
  nav .profile-link {
    margin-right: 30px;
  }
  nav .profile-link a{
    font-size: 14px;
  }
  .blogpost-main-img{
    width: 100%;
    height: 200px;
  }
}


@media (max-width: 320px) {
  .home-main-text {
    font-size: 12.5px;
    letter-spacing: 2px;
  }
  header .header-icons-container .icons {
    width: auto;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    margin-right: inherit;
    }
  nav .nav-logo-container{
    margin-left: 20px;
  }
  nav .nav-logo-container img{
    width: 200px;
    margin-top: 10px;
  }
  nav .profile-link {
    margin-right: 30px;
  }
  nav .profile-link a{
    font-size: 10.5px;
  }
  .blogpost-main-img{
    width: 100%;
    height: 120px;
  }
}