@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #000;
  --font-family: "Inter", sans-serif;
  --text-color: #fff;
  --text-color-alt: #de9bf8;
  --text-color-hover: #8a8f98;
  --background-card: linear-gradient(134.9deg, hsla(205, 42%, 19%, 0.5) 0%, hsla(205, 61%, 90%, 0.08) 100%);
  --margin-section: 10rem;
  --height-header: 4rem;
  --tiny-font: 1rem;
  --text-font: 1.2rem;
  --h3-font: 1.5rem;
  --subtitle-font: 2rem;
  --title-font: 2.5rem;
  --bigger-font: 4rem;
  --weight-800: 800;
  --weight-700: 700;
  --weight-600: 600;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  background-color: transparent;
  width: 0.75rem;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
}

body {
  background: var(--bg-color);
  font-family: var(--font-family);
}

h1, h2, h3, p, li {
  color: var(--text-color);
}

h1 {
  font-size: var(--title-font);
  font-weight: var(--weight-800);
  margin-bottom: 0.5rem;
}

h2 {
  font-size: var(--subtitle-font);
  font-weight: var(--weight-700);
  margin-bottom: 2rem;
}

h3 {
  font-size: var(--h3-font);
  font-weight: var(--weight-600);
  margin-bottom: 1rem;
}

p {
  font-size: var(--text-font);
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

a:hover {
  color: var(--text-color-alt);
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  height: var(--height-header);
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.75);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.header .logo {
  display: none;
}
.header .nav {
  display: flex;
  width: 100%;
}
.header .list {
  width: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 450px) {
  .wrapper {
    width: 100%;
  }
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .logo {
    display: initial;
  }
  .nav {
    width: initial;
  }
}
.card {
  background: aquamarine;
}

.h1, .h2 {
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  margin-inline: auto;
  width: calc(100% - 2rem);
  max-width: 55rem;
}

.header {
  height: var(--height-header);
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.75);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.header-container {
  display: flex;
}

.logo {
  display: none;
}

.nav {
  display: flex;
  width: 100%;
}

.list {
  width: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.main {
  gap: 8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-section);
}

.banner {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-image {
  width: 12rem;
}

.description {
  font-size: 1.25rem;
  line-height: 1.75;
  font-weight: 600;
  text-align: center;
}

.conter {
  display: grid;
  gap: 5rem;
}

.card-container {
  display: grid;
  gap: 2rem;
  position: relative;
}

.about-container > img {
  border-radius: 0.75rem;
}

.card {
  background: var(--background-card);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 24rem;
  margin-inline: auto;
  overflow: hidden;
}

.card-text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.about-container {
  display: grid;
  gap: 2rem;
}

.cross {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
}

.experience, .experience-container {
  display: grid;
  gap: 2rem;
}

.skills-container {
  display: grid;
  gap: 1.5rem;
}

.tools {
  display: flex;
  gap: 0.5rem;
}

.tools > .icon {
  display: flex;
  height: 2rem;
}

.footer {
  display: grid;
  gap: 5rem;
  margin-bottom: var(--margin-section);
}

.author {
  width: 100%;
  text-align: center;
}

.author > p {
  font-size: var(--tiny-font);
}

.text-alt {
  background-image: linear-gradient(135deg, #CB5EEE 0%, #4BE1EC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  background-repeat: no-repeat;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.about-text > p {
  line-height: 1.75;
  font-size: 1.25rem;
}

.circle {
  width: 8rem;
  height: 8rem;
  background: rgba(255, 255, 255, 0.72);
  border-radius: 100%;
  position: absolute;
}

.left {
  bottom: 0;
  left: 15%;
  animation-name: animationLeftRight;
  -webkit-animation-name: animationLeftRight;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes animationLeftRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes animationLeftRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.animationLeftRight {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.circle.right {
  right: -1rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 2rem;
}

.social-medias {
  display: flex;
  gap: 1rem;
}

.social-medias > .icon > a {
  display: flex;
  height: 2rem;
}

.s-relative {
  position: relative;
}

.quiz-tooltip {
  display: none;
}

.quiz-tooltip.active {
  display: block;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}

.quiz-tooltip-container {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
}

.card-quiz {
  height: 80%;
  width: calc(100% - 2rem);
  background: var(--background-card);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-inline: auto;
  overflow: hidden;
}

.card-quiz-text {
  height: calc(100% - 5rem);
  padding: 0 2rem;
  overflow-y: scroll;
}

.card-quiz-text::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

.card-quiz-text::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
}

.body.active {
  overflow-y: hidden;
}

.button {
  border-style: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button:hover {
  background: #fff;
  cursor: pointer;
}

.quiz-text-container {
  display: grid;
  gap: 2rem;
}

.quiz-theme-container {
  margin-bottom: 1rem;
}

.quiz-theme-container > a {
  display: flex;
  gap: 0.5rem;
}

.enlace:hover {
  color: var(--text-color-hover);
}

.quiz-theme-title {
  margin-bottom: 0;
}

@media only screen and (min-width: 450px) {
  .wrapper {
    width: 100%;
  }
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .header-container {
    justify-content: space-between;
  }
  .logo {
    display: initial;
  }
  .nav {
    width: initial;
  }
  .about-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .experience {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .h1 {
    font-size: var(--bigger-font);
  }
  .skills-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .author {
    text-align: initial;
    display: flex;
    justify-content: space-between;
  }
  .card-quiz {
    width: 80%;
  }
}/*# sourceMappingURL=styles.css.map */