@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
    font-size : 62.5%;
}

:root {
    --bg-color         : #121A21;
    --bg-color-alt     : #212E36;
    --bg-color-acent   : rgb(64, 83, 94);

    --font-family      : 'Inter', sans-serif;

    --text-color       : #FBFBFE;
    --text-color-alt   : #c8cdd0;
    --text-color-accent: #ffa83b;

    --margin-1         : 0.8rem;
    --margin-2         : 1.2rem;
    --margin-3         : 1.6rem;
    --margin-4         : 2rem;

    --bigger-font-size : 2.4rem;
    --big-font-size    : 2rem;
    --normal-font-size : 1.6rem;
    --small-font-size  : 1.2rem;
}

body {
    background-color: var(--bg-color);
    font-family     : var(--font-family);
    color           : var(--text-color);

    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;

    min-height      : 100vh;
}

image {
    width: 100%;
}

button {
    cursor          : pointer;
    font-size       : var(--normal-font-size);
    color           : var(--text-color);
    background-color: var(--bg-color);
    border-radius   : 0.5rem;
    border          : none;
}

a {
    text-decoration : none;
}

.container{
    margin     : 0 var(--margin-4) var(--margin-4);
    padding-top: var(--margin-4);

    display    : grid;
    gap        : var(--margin-4);
    text-align: center;
}

.header {
    &-profile {
        --size         : 10rem;
        width          : var(--size);
        border-radius  : 50%;

        margin-bottom  : var(--margin-2);
    }

    &-name {
        font-size      : var(--bigger-font-size);
        font-weight    : 600;

        margin-bottom  : var(--margin-1);
    }

    &-especiality {
        font-size      : var(--normal-font-size);
        font-weight    : 400;
        color          : var(--text-color-alt);
    }
}

.main {
    display        : grid;
    gap: var(--margin-3);

    .buttons-list {
        display: grid;
        gap    : var(--margin-1);

        .link {
            width: 100%;

            .button{
                background-color: var(--bg-color-alt);
                font-size       : var(--normal-font-size);
                font-weight     : 500;
                height: 4rem;
                width: inherit;
                box-shadow      : 0px 1px 5px rgba(10, 14, 17, 0.527);

                &:hover {
                    background-color: var(--bg-color-acent);
                }
            }

        }
    }

    .social-list {
        display: flex;
        justify-content: space-evenly;

        .social-link {
            .social-image {
                height: 1.5rem;
            }
        }
    }
}

.footer {
    &-text {
        color: var(--text-color-alt);
        font-size: var(--small-font-size);
        text-align: center;

        .accent {
            color: inherit;
            font-size: inherit;

            &:hover {
                color: var(--text-color-accent);
                cursor: pointer;
            }
        }
    }
}